page-a {
    .tou{
        height:179px;
        background-image: url(../assets/images/banner3.png);
        background-size: cover;
        text-align: center;
        img{
            width: 100px;
            height:100px;
            border-radius: 50%;
            margin-top: 35px;
        }
        span{
            font-size: 20px;
            text-align: center;
        }
    }
    .ding{
        padding:0;
        height:30px;
        line-height: 30px;
        background:#eeeeee;
        li{
            padding:5px;
            width: 47%;
            float: left;
            a{
                color:gray;
            }
        }
    }
    .ul1{
        margin: 0;
        padding: 0;
        li{
            position: relative;
            display: inline-block;
            background-color: white;
            width: 32%;
            height:85px;
            margin-left:1px;
            text-align: center;
        }
        .bk{
            background-color: #ffdb2c;
        }
        i{
            line-height: 75px;
            font-size: 25px;
        }
        p{
            margin: 0;
            width: 100%;
            position: absolute;
            top:50px;
        }
    }
    .ul2{
        margin-top:2px;
        padding: 0;
        li{
            position: relative;
            display: inline-block;
            background-color: white;
            width: 48%;
            height:85px;
            margin:3px 2px 3px 2px;
            text-align: center;
        }
        .bk{
            background-color: #ffdb2c;
        }
        i{
            line-height: 75px;
            font-size: 25px;
        }
        p{
            margin: 0;
            width: 100%;
            position: absolute;
            top:50px;
        }
    }
}
