#d1{
    width: 650px;
    height: 400px;
    /* border:1px solid black;  */
    margin: 10px auto;
    
}
#d1 ul li{
    width: 220px;
    height:260px;
    float:left;
    margin-left: 10px;
    border: 1px solid gray; 
    border-radius: 5px;
}
#d1 ul li a{
    color: black;
}
#d1 ul li a img{
    width: 220px;
    height: 110px;
}
#d2{
    width: 220px;
    height: 60px;
    /* border:1px solid black; */
    overflow: hidden;
}