<div id="container">
  <ul>
    <li *ngFor="let c of courses;">
        <a [routerLink]="['/course',c.id]">
          <img src="{{c.images}}" alt="">
          <br>
          <div id="div1">{{c.courseName}}</div>
          <div id="div2"><font size="2" color="gray">{{c.detail}}</font></div>
          <div id="div3">
            <span style="color:gray;">课时 {{c.time}}</span>
            <span style="margin-left:60px; color: gray;">人数{{c.person}} </span>
          </div>
        </a>
    </li>      
  </ul>
</div>